<!DOCTYPE html>
<html lang="en">

<head th:replace="common/head"></head>

<style>
    .btn-primary {
        background-color: #efc19d;
        border-color: #efc19d;
        color: black;
    }
</style>

<body>
    <div class="container mt-5">
        <div>
            <h2>Search Charging Stations</h2>
            <input type="text" id="searchInput" placeholder="Enter location">
            <button onclick="searchChargingStations()">Search</button>

            <div id='map' style='width:500px;height:400px;'></div>

            <script type="text/javascript"
                src="//dapi.kakao.com/v2/maps/sdk.js?appkey=da146a2a6ff6a54903c1d2a7caecd1c7&libraries=services"></script>

            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>



            <script type='text/javascript'>
                var mapContainer = document.getElementById('map');
                var geocoder = new kakao.maps.services.Geocoder();

                function searchChargingStations() {
                    var searchInput = document.getElementById('searchInput').value;

                    geocoder.addressSearch(searchInput, function (result, status) {
                        if (status === kakao.maps.services.Status.OK) {
                            var searchCoords = new kakao.maps.LatLng(result[0].y, result[0].x);
                            // console.log(searchCoords);

                            var mapOption = {
                                center: searchCoords,
                                level: 3
                            };
                            // console.log(mapOption);

                            var map = new kakao.maps.Map(mapContainer, mapOption);


                            axios.get('/api/chargingstations')
                                .then(function (response) {
                                    let distancesArray = [];


                                    response.data.forEach(function (station) {
                                        geocoder.addressSearch(station.address, function (result, status) {
                                            if (status === kakao.maps.services.Status.OK) {
                                                var stationCoords = new kakao.maps.LatLng(result[0].y, result[0].x);
                                                // console.log(stationCoords);
                                                let distanceInKm = getDistanceFromLatLonInKm(searchCoords.Ma, searchCoords.La, stationCoords.Ma, stationCoords.La);
                                                console.log(distanceInKm);

                                                if (distanceInKm <= 8) {
                                                console.log(distanceInKm)

                                                new kakao.maps.Marker({
                                                map: map,
                                                position: stationCoords,
                                                 title : "Station ID:" +station.id+" Location:"+station.location  
                                                 }
                                                     );
                                                }


                                                function getDistanceFromLatLonInKm(lat1, lon1, lat2, lon2) {
                                                    var R = 6371; // Radius of the earth in km
                                                    var dLat = deg2rad(lat2 - lat1);  // deg2rad below
                                                    var dLon = deg2rad(lon2 - lon1);
                                                    var a =
                                                        Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                                                        Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) *
                                                        Math.sin(dLon / 2) * Math.sin(dLon / 2)
                                                        ;
                                                    var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
                                                    var d = R * c; // Distance in km
                                                    return d;
                                                }

                                                function deg2rad(deg) {
                                                    return deg * (Math.PI / 180)
                                                }
                                                // var distanceInMeters = searchCoords.distance(stationCoords);
                                                // console.log(distanceInMeters)
                                                // if (distanceInMeters <= 5000) {
                                                //     console.log(distanceInMeters)

                                                //     new kakao.maps.Marker({
                                                //             map: map,
                                                //             position: stationCoords,
                                                //             title : "Station ID:" +station.id+" Location:"+station.location  
                                                // }
                                                //         );
                                                // }
                                            }
                                        });
                                    });
                                })

                        }
                    });
                }
            </script>
        </div>
    </div>

</body>

</html>