


body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
    font-family: 'malgun gothic', 'Nanum Gothic', 'dotum';
    color: #333;
    word-spacing: -1px;
    height: 100%;
}

body {
    display: block;
    margin: 8px;
}

 #wrap {
    position: relative;
    width: 100%;
    word-break: break-all;
    background: #f5f5f5;
    padding: 116px 0 50px !important;
    min-height: 685px;
}

#wrap > h1 {
    font-size: 36px;
    max-width: 1400px;
    width: 1400px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    min-height: 120px;
    padding-top: 20px;
    /* padding: 50px 0 0; */
}

#wrap > h1 > span {
    display: inline-block;
    float: right;
    font-size: 14px;
    vertical-align: bottom;
    position: absolute;
    right: 0;
    bottom: 35%;
    font-weight: 100;
    cursor: default;
}

#wrap > h1 > span > a {
    vertical-align: top;
}

a {
    text-decoration: none;
    color: #d60909;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    vertical-align: middle;
    cursor: pointer;
}

/* 현황 */
#wrap .tab_wrap {
    width: 100%;
    overflow: hidden;
    font-size: 18px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}


#wrap .tab_wrap .tab01 {
    width: 100%;
    background: #fff;
}



#wrap .tab_wrap .tab01 ul {
    width: 100%;
    margin: 0 auto;
    display: flex;
}


#wrap .tab_wrap .tab01 ul li {
    
    list-style: none;
    float: left;
    flex: 1;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

#wrap .tab_wrap .tab01 ul li.active a {
    background: #004a98;
    color: #fff;
}


a {
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    vertical-align: middle;
    cursor: pointer;
}



#wrap .tab_wrap .tab01 ul li a {
    display: block;
    background: #fff;
    line-height: 60px;
    border: 1px solid #ddd;
    margin: -1px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
}


/* up to here till end of 현황 */

/* table in below */
div {
    display: block;
}

#contents {
    width: 1400px;
    position: relative;
    margin: 0 auto;
    padding-bottom: 30px;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.in_content {
    padding: 20px 0 0;
    position: relative;
    width: 1400px;
    /* display: flex;
    flex-direction: column; */
}

.s_tit {
    position: relative;
    font-size: 18px;
    color: #333;
    line-height: 120%;
    font-weight: 700;
    background: url(/publish/images/sub/bg_stit.png) no-repeat 0 center;
    padding-left: 14px;
}

.s_tit .abs {
    position: absolute;
    right: 0;
    bottom: -10px;
    font-size: 14px;
    font-weight: 400;
}

.table_type1 {
    margin-bottom: 5px;
}

.mar_t20, .mt20 {
    margin-top: 20px !important;
}

caption {
    display: none;
    text-align: -webkit-center;
}

colgroup {
    display: table-column-group;
}

col {
    display: table-column;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.table_type1 th, .table_type1 td {
    border-left: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
}


.table_type1 th {
    text-align: center;
    font-weight: 600;
    vertical-align: middle;
    background-color: #f2f6f9;
    color: #494949;
    padding: 12px 5px;
}

.table_type1 tbody th {
    background: #f2f6f9;
    line-height: 160%;
}

.table_type1.align_center td {
    text-align: center;
   
}

.table_type1 td {
    color: #333;
    padding: 12px 5px;
    line-height: 160%;
}

.table_type1 table {
    text-align: center;
    border-top: 2px solid #3b476c;
    border-bottom: 1px solid #b5b9c4;
    margin-top: 4px;
    font-size: 15px;
    background: #fff;
    width: 100%;
    table-layout: fixed;/* Use fixed table layout to distribute column widths equally */
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
}

.data-container {
    text-align: center;
    margin-bottom: 60px;
}

.charts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.chart-container {
    flex: 1 0 auto;
    margin: 10px;
    width: calc(50% - 20px);
    max-width: 400px;
}

/* Total Statistic above the page */

#contents {
    width: 1400px;
    position: relative;
    margin: 0 auto;
    padding-bottom: 30px;
    height: 100%;
}

.in_content {
    padding: 20px 0 0;
    position: relative;
    width: 1400px;
}

.page_stitle {
    position: relative;
    font-size: 22px;
    color: #333;
    line-height: 120%;
    padding-bottom: 0;
    font-weight: 700;
}

.mar_t20, .mt20 {
    margin-top: 20px !important;
}

.wd49p {
    width: 49%;
}
.fl {
    float: left !important;
}

img {
    display: inline-block;
    border: 0 none;
    vertical-align: middle;
}
user agent stylesheet
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.wd47p {
    width: 47%;
    display:inline-flex;
}
.fr {
    float: right !important;
}
.clear:after {
    content: ".";
    height: 0;
    font-size: 0;
    visibility: hidden;
    display: block;
    clear: both;
}

.wd47p {
    width: 47%;
}
.fr {
    float: right !important;
}

.service_table03 {
    width: 100%;
    position: relative;
    margin-top: 20px;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
}
caption {
    display: none;
}

colgroup {
    display: table-column-group;
}

col {
    display: table-column;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.service_table03 th {
    vertical-align: middle;
    padding: 12px 0;
    background: #f2f6f9;
    text-align: center;
    border: 1px solid #dddddd;
    color: #282828;
    font-weight: 700;
    font-size: 15px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.blue_dot {
    position: relative;
}
.mar_l10 {
    margin-left: 10px !important;
}
.mar_t10, .mt10 {
    margin-top: 10px !important;
}
dd, dl, ol, ul {
    margin: 0;
    padding: 0;
}
user agent stylesheet
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.blue_dot li:first-child {
    margin-top: 0;
}
.blue_dot li {
    background: url(/publish/images/sub/blue_dot.png) no-repeat 0 11px;
    padding-left: 12px;
    font-size: 15px;
    margin-top: 5px;
    line-height: 1.5;
}

.blue_dot li {
    background: url(/publish/images/sub/blue_dot.png) no-repeat 0 11px;
    padding-left: 12px;
    font-size: 15px;
    margin-top: 5px;
    line-height: 1.5;
}

.mar_l10 {
    margin-left: 10px !important;
}
.mar_t10, .mt10 {
    margin-top: 10px !important;
}

.mar_t20, .mt20 {
    margin-top: 20px !important;
}
user agent stylesheet
div {
    display: block;
}
#wrap {
    position: relative;
    width: 100%;
    word-break: break-all;
    background: #f5f5f5;
    padding: 116px 0 50px !important;
    min-height: 685px;
}
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
    font-family: 'malgun gothic', 'Nanum Gothic', 'dotum';
    color: #333;
    word-spacing: -1px;
    height: 100%;
}
.clear:after {
    content: ".";
    height: 0;
    font-size: 0;
    visibility: hidden;
    display: block;
    clear: both;
}



