<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charger Status</title>
    <link rel="stylesheet" href="/chargerStatus.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>


</head>

<body>


    

    <div id="wrap">
        <h1>통계정보
            <span><a href="#">HOME</a> > 통계정보 > <strong>전기차 현황</strong></span>
        </h1>
        <div class="tab_wrap">
            <div class="tab01">
                <ul>
                    <li ><a href="/statistic/carStatus">전기차 현황</a></li>
                    <li class="active"><a href="/statistic/chargerStatus">충전기 현황</a></li>
                </ul>
            </div>
        </div>

        <!-- table -->
        <div id="contents" class="sub_contents">
            <div class="in_content">
                <h5 class="s_tit">한국전력공사_지역별 전기차 충전소 현황정보 <span class="abs">‘23. 10. 20 기준 실시간 충전기 합</span></h5>
                <div class="table_type1 bord1px align_center mar_t20">
                    <table>
                        <caption>한국전력공사 충전기 대수 (단위 : 개)</caption>
                        <colgroup>
                            <col width="25%">
                           
                        </colgroup>


                        <tr >
                            <th class="bg" scope="row">Region</th>
                            <th class="bg" scope="col" th:each="status : ${chargerStatusYear}" th:text="${status.year}"></th>
                          </tr>
                          
                          
                          <tr th:each="regionStatus : ${chargerStatusRegion}">
                            <td th:text="${regionStatus.region}"></td>
                              <!-- <td th:text="xx"></td> -->
                              <td th:each="status : ${chargerStatusYear}" th:text="${data.get(regionStatus.region).get(status.year)}"></td>
                            </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- <thead>
        <tr>
          <th>City</th>
          <th>Year</th>
          <th>Quantity</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <th>City</th>
          <th>Year</th>
          <th>Quantity</th>
        </tr> -->

        <div class="data-container">
            <h2 align="center" style="margin-top: 50px; margin-bottom: 50px; text-align: center; font-size: 30px; font-weight: bolder;">Data Graph</h2>
            
        </div>


    <div class="charts-container" style="width: 70%; margin: 0 auto;">
        <!-- <h2 align="center">Data Graph</h2> -->

        <!-- <div id="container" style="width: 550px; height: 400px; margin: 0 auto"></div> -->
    </div>

    <div style="width: 80%; margin: 0 auto;">
        <div style="margin-top: 50px; margin-bottom: 50px; text-align: center; font-size: 30px; font-weight: bolder;">Search for specific data</div>
    </div>

    
    <div style="width: 80%; margin: 0 auto;">
        <table id="example" class="display" style="width:100%"></table>
    </div>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
    <!-- Latest compiled and minified JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script>
       
        //    init()
                   
                async function getData2() {
                    const response = await fetch('/statistic/chargerStatus7');
                    return await response.json();
                }
        
                async function init2() {
                    var data5 = await getData2();
                    
                    $("#example").DataTable({
                        data: data5,
                        columns: [
                            { title: "ID"},
                            { title: "City"},
                            { title: "Year"},
                            { title: "Quantity"}
                        ]
                     });
                }
        
                $(document).ready(function(){
                    init2();
                });
            
        </script>
    
    <script th:inline="javascript">

        init();

        async function getData() {
            const data = await fetch('/statistic/chargerStatus5');
            const res = await data.json();
            return res;
        }
        async function init() {
            var data = await getData();
            console.log(data, typeof data);


            
            const region = {};
            let i = 0;
            for (const key in data) {
                i++;
                const categories = [];
                const quantitySet = [];
                for (const category in data[key]) {
                    
                    categories.push(category);
                    quantitySet.push(data[key][category]);
                    
                }

                // const obj = {};
                // obj['categories'] = categories;
                // obj['quantitySet'] = quantitySet;
                // region[key] = obj;

                console.log(categories)
                console.log(quantitySet)
                // const obj = {}
                
                const container = `<div class="chart-container"><div id="container${i}" style="width: 100%; height: 400px;"></div></div>`;

                // const container = `<div class="chart-container"><div id="container${i}" style="width: 550px; height: 400px; margin: 0 auto"></div><div class="text-box">Your text here</div></div>`;
                // const container = `<div id="container${i}" style="width: 550px; height: 400px; margin: 0 auto"></div>`;
                // document.querySelector('.container > h2').innerHTML("afterend", container);
                // document.querySelector('.container > h2').insertAdjacentHTML("afterend", container);
                document.querySelector('.charts-container').insertAdjacentHTML("beforeend", container);


                Highcharts.chart(`container${i}`, {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: key
                        // data[key]
                    },
                    subtitle: {
                        text: 'Quantity/Year'
                    },
                    xAxis: {
                        categories: categories, crosshair: true
                        // categories: categories, crosshair: true
                    },
                    yAxis: {
                        min: 0,
                        max: 250,
                        title: {
                            text: 'Quantity'
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:20px">{point.key}</span><table>',
                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                            '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0
                        }
                    },
                    series: [{
                        name: '',
                       data: quantitySet
                        // data: region[key]['quantitySet']
                    }]
                });
            }

        }
        
    </script>


</body>

</html>