<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <header class="header">
    <a href="/chargingsSearch" class="logo">FIND STATIONS</a>
    <nav class="navbar">
      <a href="#" class="active">EV Charging Solution</a>
      <a href="#">Application</a>
      <a href="#">Company</a>
      <a href="#">Featured</a>
      
    </nav>
    <div class="social-media">
      <a href="#"><i class='bx bxl-twitter' ></i></box-icon></a>
      <a href="#"><i class='bx bxl-facebook' ></i></a>
      <a href="#"><i class='bx bxl-instagram-alt' ></i></a>
    </div>
  </header>

  <section class="home">
    <div class="home-content">
      <h1>Charging Station</h1>
      <h3>Comprehensive charging for all cars</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem facere minus nam ipsam quos blanditiis modi fugiat dolor ducimus provident, tenetur accusamus ad qui ullam, cupiditate iste in error. Autem.</p>
      <a href="#" class="btn">Explore Cars</a>
    </div>

    <div class="home-img">
      <div class="rhombus">

      </div>
    </div>
  </section>
</body>
</html>